accelerate==0.28.0
datasets==3.1.0
huggingface-hub==0.26.2
Jinja2==3.1.0
nbformat==5.10.4
numpy==1.26.4
packaging==24.2
pandas==2.2.3
peft==0.12.0
requests==2.32.3
sentencepiece==0.2.0
tokenizers==0.20.3
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.0
transformers==4.46.3
triton==3.1.0
vllm==0.6.4.post1
vllm-flash-attn==2.6.1
xformers==0.0.28.post
